h4 {
  color: purple;
  font-family: arial;
  font-weight: 900;
}

/*First exception idea*/
div h2 {
  color: rgb(250, 10, 100);
}
/*Second exception idea*/
.Mindegy {
  color: rgb(0, 150, 200);
  overflow: scroll;
}

.dialog {
  position: fixed;
  width: 300px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -100px;
  background: #ededed;
  text-align: center;
  border: 3px solid gray;
}
